.footer{
    margin-top: 200px;
    position: relative;
    height: 440px;
    width: 100%;
    background-color: #1E96D6;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: left;
}

.footer-logo{
    width: 250px;
    position: absolute;
    top: 100px;
    left: 40px;
}

.footer-flex{
    display: flex;
    padding-left: 270px;
    color: white;
}

.footer-flex ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-flex ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.footer-flex h3{
    margin-bottom: 50px;
}

.footer-flex-1{
    margin: 10px;
    padding: 80px;
}

.footer-flex-1 ul li:before {
    content: attr(data-title) "\00a0\00a0 \00a0\00a0 :";
    margin-right: 8px;
}

.footer-flex-2{
    margin: 10px;
    padding: 80px;
}

.footer-flex-2 ul li:before {
    content: attr(data-title) "\00a0\00a0 \00a0\00a0 :";
    margin-right: 8px;
}

.footer-flex-3{
    margin: 0px;
    padding: 80px;
}

.footer-flex-3 ul li {
    align-items: center;
    margin-bottom: 15px;
}

.footer-image{
    margin: 5px;
    padding: 0px;
}

ul{
    list-style-type: '';
    color: white;
}

  