.section_4{
    padding-top: 10px;
    padding-left:50px;
    margin: 0;
    margin-bottom: 200px;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
    
    text-align: center;
}

.aboutus-image{
    width: 600px;
    padding: 30px;
}

.s4_flex_1{
    margin: 5px;
    
}

.s4_flex_2 p{
    margin: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.learnmore-button{
    color: #1E96D6;
    padding: 8px 10px;
    width: 160px;
    height: 40px;
    left: 1200px;
    background-color: white;
    border-color: 1E96D6;
    border-radius: 80px;
}


