.Section_1{
    padding-top: 0px;
    margin: 0;
    position: relative;
    height: 650px;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}

.flex{
    margin: 10px;
    padding-left: 150px;
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 20px;
}

.flex_1{
    margin: 10px;
    padding: 50px;
}

.flex_2{
    margin: 10px;
    padding: 50px;
}

.flex_3{
    margin: 10px;
    padding: 50px;
}

.sec1_image{
    width: 90%;
}

.sec_1_text{
    font-size: 30px;
}

h1{
    font-size: 50px;
}