.section_2{
    padding-top: 150px;
    margin: 0;
    position: relative;
    height: 400px;
    color: rgb(255, 255, 255);
    font-family: 'Josefin Sans', sans-serif;
    justify-content: center;
}

.s2_flex{
    display: flex;
    background-color: #1E96D6;
    width: 80%;
    justify-content: center;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
}

.sec2_image{
    width: auto;
}

.s2_flex_1{
    margin: 10px;
    padding: 50px;
}

.s2_flex_2{
    margin: 10px;
    padding: 50px;
}

.s2_flex_3{
    margin: 10px;
    padding: 50px;
}
